
h1 {
    color: green;
    text-align: center;
    margin: 0 0 0.5em 0;
}

h2 {
    scroll-margin-top: 14em;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0em 5em 5em 5em;
    max-width: 50em;

}

figure img {
    border-style: dotted;
    border-width: 1;
    border-color: grey;
}

figure {
    margin: auto;
    padding: 1em;
    text-align: center;
}

figcaption {
    margin: 0.5em 0 0 0;
}

#lang {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18pt;
    color: green;
}

#header {
    position: sticky;
    top: 0;
    background-color: white;
}

#content {
    overflow: auto;
}

#lang a {
    text-decoration: none;
}

#lang a:hover {
    font-style: italic;
}

#logo {
    text-align: center;
}

#logo img {
    width: 150;
    height: 150;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: orange;
    border-radius: 1em;
    font-size: 14pt;
}

#menu li {
    /* float: left; */

}

#menu li a {
    display: block;
    color: lightyellow;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    text-decoration: none;
}

#menu li a:hover {
    color: green;
}

.map {
    height:250;
    width:250;
    object-fit: cover;
}

.image {
    height:350;
}

#map-BR-PI {
    object-position: 35%;
}

#map-WWF {
    object-position: 35%;
}
